@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.snake-container {
  text-align: center;
}

.game-border {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.point-bar {
  margin: 5px auto;
  text-align: right;
}

.game-splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000d5;
}

.game-splash div,
button {
  margin: 20px 0;
}

.game-splash div {
  font-size: 60px;
  color: white;
}

.game-splash button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #92dff7;
  color: #141400;
  font-family: "Trebuchet MS", cursive;
  font-size: 25px;
  transition: 0.5s;
}

.game-splash button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.snake-mobile-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snake-mobile-buttons div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.snake-mobile-buttons div button {
  margin: 5px 100px;
  padding: 8px 20px;
  border-radius: 0;
  border: 1px solid black;
}

.scrollbar1::-webkit-scrollbar {
  width: 16px;
}

.scrollbar1::-webkit-scrollbar-track {
  background-color: #ffe4f4;
  border-left: 2px solid #141400;
  padding: 2px;
}

.scrollbar1::-webkit-scrollbar-thumb {
  border: 1px solid #141400;
  background-color: #f5acfe;
}
